body{
    background-color: rgb(113, 175, 219);
    background:url("back1.webp");
    background-position: center;

}
button{
    height: 35px;
    width:250px;

    border-radius: 50px;
    background-color:rgb(47, 108, 239);
    color:white;
}
fieldset{
    border-radius: 20px;
    background-color: azure;
    width: fit-content;

}p1{
    font-family:kanit;
    font-size: medium;
    

}
input p1{
    height: 35px;
    width: 270px;
    

    border-radius: 10px;


}
